* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}

/* Experience */

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* Preloader */

.hidden {
  display: none;
}

.preloader {
  background-color: #d6d2ca;
  width: 100%;
  height: 100vh;
  opacity: 1;
  position: fixed;
  z-index: 99999;
}

.preloader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #041676;
  margin: 0.25rem;
  animation: loading 1s ease-in-out infinite;
}

.circle:nth-child(2) {
  animation-delay: 0.1s;
}

.circle:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes loading {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-0.75rem);
  }

  40% {
    transform: translateY(0);
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25rem;
  z-index: 1;
  display: flex;
  width: 100%;
  justify-content: space-between;
  pointer-events: none;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #041676;
  color: #041676;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

footer .links a:not(:last-child) {
  margin-right: 0.5rem;
}

/* Links */

a {
  color: #041676;
  text-decoration: none;
  border-bottom: .1rem solid #041676;
  transition: box-shadow .25s ease-in-out;
}

a:hover {
  box-shadow: inset 0 -1.1rem 0 #3d59f650;
  color: #000;
}

a:focus {
  background: #fff;
  outline: none;
  background: #ff6407;
  color: #fff;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.2);
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #d6d2ca;
}

::-webkit-scrollbar-thumb {
  background: #041676;
}

/* Interest Points */

.point {
  position: absolute;
  top: 50%;
  left: 50%;
}


.point .label {
  position: absolute;
  top: -20px;
  left: -20px;
  color: #041676;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 40px;
  font-weight: 100;
  font-size: 32px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s;
  /* Prevent selection */
  -webkit-user-drag: none;
  user-select: none;
}


.point:hover .label {
  scale: 1.2;
}

.point.visible .label {
  opacity: 1;
}

.point .text {
  position: absolute;
  top: 1.5rem;
  left: -120px;
  padding: 1rem;
  width: 12rem;
  background: #04167690;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: #ffffff;
  line-height: 1.2rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.text h3 {
  margin-bottom: 1rem;
}

.point:hover .text {
  opacity: 1;
}

.icn {
  width: 2rem;
  height: 2rem;
}

/* Info Panel */

.info-panel {
  opacity: 1;
  position: absolute;
  right: -33%;
  top: 0;
  width: 33%;
  max-width: 700px;
  height: 100vh;
  background-color: #fff;
  color: #041676;
  z-index: 100;
  transition: all .3s;
}

.info-panel-header {
  position: sticky;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  z-index: 999;
  padding: 1rem 1.25rem 1.2rem 1.25rem;
}

.info-panel-content {
  height: 100vh;
}

.info-panel-content-wrapper {
  padding: 0 1.25rem 1.25rem 1.25rem;
}

.info-panel-image {
  margin-top: 60px;
}

.info-panel-title {
  padding-bottom: 1.25rem;
}

.info-panel-lead {
  font-weight: 700;
  font-size: 1.125rem;
  padding-bottom: 1.25rem;
}

.info-panel-description {
  padding-bottom: 2rem;
}

.info-panel-content img {
  max-width: 100%;
  padding-bottom: 1.25rem;
}

.close {
  cursor: pointer;
}

button {
  display: inline-block;
  border: 1px solid #041676;
  padding: 1rem 2rem;
  width: 100%;
  margin: 0;
  text-decoration: none;
  background-color: #041676;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #fff;
  color: #041676;
}

/* Table */

table {
  border: 1px solid #041676;
  border-collapse: collapse;
  width: 100%;
  /* table-layout: fixed; */
}

table caption {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

table tr {
  border: 1px solid #041676;
  padding: .35rem;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table {
  margin-bottom: 1.5rem;
}

.col-min {
  /* background-color: #ff6407; */
  width: 35%;
}

/* MOBILE / TABLET */

@media screen and (max-width: 968px) {
  .logo {
    width: 7rem;
    height: 7rem;
  }

  .info-panel {
    right: -100%;
    width: 100%;
    max-width: 100%;
  }

  .info-panel-header {
    width: 100%;
  }

  footer {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .info-panel {
    height: -webkit-fill-available;
  }
}
