* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25rem;
  z-index: 1;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #041676;
}

.info-panel {
  opacity: 1;
  position: absolute;
  right: -33%;
  top: 0;
  width: 33%;
  max-width: 700px;
  height: 100vh;
  background-color: #fff;
  color: #041676;

  z-index: 100;
  transition: all .3s;
  overflow-y: auto;
}

.info-panel-header {
  position: fixed;
  width: 33%;
  background-color: #fff;
  padding: 1rem 1.25rem 1.2rem 1.25rem;
  display: flex;
  justify-content: flex-end;
}

.info-panel-content {
  padding: 1.25rem;
}

.info-panel h2 {
  padding-bottom: 1.25rem;
}

.info-panel h3 {
  padding-bottom: 1.25rem;
}

.info-panel p {
  padding-bottom: 2rem;
}

.info-panel-content img {
  max-width: 100%;
  padding-bottom: 1.25rem;
}

.point {
  position: absolute;
  top: 50%;
  left: 50%;
}

.point .label {
  position: absolute;
  top: -20px;
  left: -20px;
  color: #041676;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 40px;
  font-weight: 100;
  font-size: 32px;
  cursor: pointer;
  transform: scale(0, 0);
  transition: transform 0.3s;
}

.point.visible .label {
  transform: scale(1, 1);
}

.point .text {
  position: absolute;
  top: 30px;
  left: -120px;
  width: 200px;
  padding: 20px;
  background: #04167680;
  backdrop-filter: blur(5px);
  /* border: 1px solid #ffffff90; */
  color: #ffffff;
  line-height: 1.3em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.text h3 {
  margin-bottom: 1rem;
}

.point:hover .text {
  opacity: 1;
}

.icn {
  width: 2rem;
  height: 2rem;
}

button {
  display: inline-block;
  border: 1px solid #041676;
  padding: 1rem 2rem;
  width: 100%;
  margin: 0;
  text-decoration: none;
  background-color: #041676;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #fff;
  color: #041676;
}

/* Table */
table {
  border: 1px solid #041676;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

table tr {
  border: 1px solid #041676;
  padding: .35rem;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  font-size: 1rem;
}

table {
  margin-bottom: 1.5rem;
}
